<% include partials/header %>
<div class="container">
    <div class="main-wrapper">
        <div class="text-center">
                <img class="img-fluid logo" src="/assets/images/fcep.jpg" alt="logo">
                <h1>Welcome to FCEP SIMS</h1>
            </div>
            <div class="login-wrapper">
                <h4>login to continue</h4>
                <form action="">
                    <input class="form-control control" type="text" name="staffId" placeholder="Staff Id">
                    <input class="form-control control" type="password" name="password" placeholder="Password">
                    <button class="btn btn-success login-btn" >Login</button>
                    <input type="checkbox">Remember me
                </form>
            </div>
    </div>
</div>

<% include partials/footer %>